<div class="container">
  <ngb-tabset #t="ngbTabset">
    <ngb-tab id="tab-selectbyid1" title="Registro de Clientes">
      <ng-template ngbTabContent>
        <form [formGroup]="registerForm" *ngIf="!newUser" (ngSubmit)="postDate()">
          <h3>Registrate aquí</h3>
          <hr>
          <div class="form-group">
            <label for="name">Nombres</label>
            <input type="name" formControlName="name" [(ngModel)]="name" required>
            <div *ngIf="formErrors.name">
              {{ formErrors.name }}
            </div>
          </div>
          <div class="form-group">
            <label for="lastname">Apellidos</label>
            <input type="name" formControlName="lastname" [(ngModel)]="lastname" required>
            <div *ngIf="formErrors.lastname">
              {{ formErrors.lastname }}
            </div>
          </div>
          <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input type="email" formControlName="email" [(ngModel)]="email" [required]="false">
            <div *ngIf="formErrors.email">
              {{ formErrors.email }}
            </div>
          </div>
          <div class="form-group">
            <label for="cellphone">Celular</label>
            <input type="name" formControlName="cellphone" [(ngModel)]="cellphone" required>
            <div *ngIf="formErrors.cellphone">
              {{ formErrors.cellphone }}
            </div>
          </div>
          <div class="form-group">
            <label for="birthday">Fecha de Nacimiento</label>
            <input type="date" formControlName="birthday" [(ngModel)]="birthday" required>
            <div *ngIf="formErrors.birthday">
              {{ formErrors.birthday }}
            </div>
          </div>
          <div class="form-group">
            <label for="gender">Género</label>
            <select formControlName="gender" [(ngModel)]="gender" required>
              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
            </select>
            <div *ngIf="formErrors.gender">
              {{ formErrors.gender }}
            </div>
          </div>
          <button type="submit" [disabled]="!registerForm.valid">Registrar</button>
          <!-- <span *ngIf="registerForm.valid">Form is valid</span> -->
        </form>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab-selectbyid2">
      <ng-template ngbTabTitle>
        <b>Reporte</b></ng-template>
      <ng-template ngbTabContent>
        Tabla de control de edades
        <div style="width: 80%;" *ngIf="chartData" class="mt-5">
          <canvas baseChart [chartType]="'bar'" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="true"
            (chartClick)="onChartClick($event)">
          </canvas>
        </div>
        <button (click)="getAge()">Actualizar tabla</button>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>